.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card-hover:hover {
    opacity: 0.95;
}
.object-owner {
    font-size: 11px;
    color: rgb(112, 122, 131);
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
.object-title {
    font-size: 12px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.object-price {
    font-size: 20px;
    height: initial;
    white-space: nowrap;
    margin-bottom: 0;
}
.object-price-current {
    font-size: 30px;
    margin-bottom: 0;
}
.object-price-regular {
    font-size: 20px;
    margin-bottom: 0;
}
.price-name {
    display: inline-block;
    width: 120px;
}

