// адрес берется из ЛК sentry
https://address

на текущий момент он будет передаваться в строке запуска:

REGISTRY=REGISTRY LOGIN=LOGIN IMAGE_TAG=IMAGE_TAG \
SENTRY_DSN=https://address \
make try-dev-deploy
